
header{
background-color: aliceblue;
color:black;
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;
border: 5px solid rgb(0, 0, 0);
}
main{
background-color: rgb(0, 64, 240);
color: rgb(9, 12, 197);
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: auto 16px;
display: flex;
flex-direction: row;
border: 5px solid black;
}
footer{
    background-color: rgb(109, 2, 2);/* cor de fundo do radapé*/
    color: rgb(6, 0, 41);/* cor da fonte*/
     text-align:center;
    max: width 800px; 
    margin: 0 auto; 
    padding: 0px; /* espaçamento interno*/
    border: 5px solid black;  
    max-width: 800px;/*largura maxima*/
    display: flex; /* habilita o uso do flex box*/
    margin: 0 auto;/*margens*/
}

 img{
    width: 50px;/*largura*/
    height: 50px; /*altura*/
 }
  .artigo-autor {
      font-weight: bold;

  }


















