
header{
background-color: aliceblue;

color: aqua;

}
main{
background-color: rgb(221, 14, 14);
color: rgb(9, 12, 197);
max-width: 800px;
margin: 0 auto;
}

footer{
    background-color: black;
color: rgb(214, 210, 204);

}






